.preloader {
  transition: 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100dvh;
  background-color: #d9d9d9;
}

.loading {
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  animation: blink 2.5s infinite ease-in-out;
  color: #3a3a3a;
}

.loading:hover {
  color: #ff4141;
  cursor: crosshair;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
